doctype html
html
  head
    meta(charset='UTF-8')
    title Admin
    link(href='./libs/bootstrap-3.3.6-dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='./css/fontawesome/css/font-awesome.min.css', rel='stylesheet')
    link(href='./css/admin.css', rel='stylesheet')
    script(src='./libs/jquery.js')
    script(src='./js/validator.js')
    script(src='./libs/bootstrap-3.3.6-dist/js/bootstrap.min.js')
    script(src='./js/angular/angular.js')
    script(src='./js/admin.js')
  body
    nav.navbar.navbar-default(role='navigation')
      .navbar-header.nav-info
        a#project.navbar-brand(href='/') My Achievement
      a#logout.navbar-brand.pull-right(href='logout') 退出登录
    .container-fluid(ng-app='userApp')
      .row-fluid
        .span12
          .asign-right
            button.btn.btn-defalut.btn-large.btn-success(type='button', data-toggle='modal', data-target='#addUser')
              h5 单位添加用户
            button.btn.btn-large.btn-defalut.btn-danger(type='button', data-toggle='modal', data-target='#deleteUser')
              h5 单位删除用户
            button.btn.btn-defalut.btn-large.btn-success(type='button', data-toggle='modal', data-target='#addUsers')
              h5 批量添加用户
            button.btn.btn-large.btn-defalut.btn-danger(type='button', data-toggle='modal', data-target='#deleteUsers')
              h5 批量删除用户
      .row-fluid(ng-controller='Users.list')
        .span12
          .panel.panel-default
            .panel-heading
              button#reflesh.btn.btn-info.btn-lg.btn-block(type='button', reflesh-users='')
                strong
                  i.fa.fa-refresh
                  | 用户列表
            .panel-body
              input.form-control(type='text', ng-model='search', placeholder='搜索')
            table.table.table-bordered.table-striped
              thead
                tr
                  th
                    h4
                      strong 序号
                  th
                    h4
                      strong 用户名
                  th
                    h4
                      strong 姓名
                  th
                    h4
                      strong 邮箱
                  th
                    h4
                      strong 权限
                  th
                    h4
                      strong 处理
              tbody
                tr(ng-repeat='user in users| filter:search')
                  td {{$index + 1}}
                  td {{user.username}}
                  td {{user.truename}}
                  td {{user.email}}
                  td {{user.limit}}
                  td
                    button.btn.btn-info(type='button', data-toggle='modal', data-target='#editUser', get-user='') 编辑
                    button.btn.btn-warning(type='button', data-toggle='modal', data-target='#editPassword', get-username='') 更改密码
                    button.btn.btn-danger(type='button', data-toggle='modal', data-target='#deleteUser', get-username='') 删除
        // 模拟框
        div
          // 添加单位用户
          #addUser.modal.fade(aria-hidden='true')
            .modal-dialog
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-hidden='true')
                    | ×
                  h4.modal-title
                    | 添加一位用户
                .modal-body
                  form.bs-example.bs-example-form(role='form')
                    .input-group.input-group-lg
                      span.input-group-addon
                        i.fa.fa-user &nbsp;
                      input.form-control(type='text', name='username', placeholder='用户名', ng-model='user.username', valid)
                    .input-group.input-group-lg
                      span.input-group-addon
                        i.fa.fa-key
                      input.form-control(type='password', name='password', placeholder='密码', ng-model='user.password', valid)
                    .input-group.input-group-lg
                      span.input-group-addon
                        i.fa.fa-key
                      input.form-control(type='password', name='rePassword', placeholder='重复密码', ng-model='user.rePassword', valid)
                    .input-group.input-group-lg
                      span.input-group-addon
                        i.fa.fa-user &nbsp;
                      input.form-control(type='text', name='truename', placeholder='姓名', ng-model='user.truename', valid)
                    .input-group.input-group-lg
                      span.input-group-addon
                        i.fa.fa-envelope
                      input.form-control(type='text', name='email', placeholder='邮箱', ng-model='user.email', valid)
                    .input-group.input-group-lg
                      span.input-group-addon
                        i.fa.fa-lock(title='权限') &nbsp;
                      select.form-control(name='limit', ng-model='user.limit', valid)
                        option 老师
                        option 老师助理
                        option 学生
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal')
                    | 关闭
                  button.btn.btn-primary(type='button', add-user='')
                    | 添加该用户
                  .alert.alert-danger.error(role='alert')
          // 删除单位用户
          #deleteUser.modal.fade(aria-hidden='true')
            .modal-dialog
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-hidden='true')
                    | ×
                  h4.modal-title
                    | 删除一位已知用户
                .modal-body
                  form
                    .input-group.input-group-lg
                      span.input-group-addon
                        i.fa.fa-user-times
                      input.form-control(type='text', name='username', placeholder='用户名', ng-model='editUser.username', valid)
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal')
                    | 关闭
                  button.btn.btn-primary(type='button', delete-user='')
                    | 删除该用户
                  .alert.alert-danger.error(role='alert')
          // 添加批量用户
          #addUsers.modal.fade(aria-hidden='true')
            .modal-dialog
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-hidden='true')
                    | ×
                  h4.modal-title
                    | 添加批量用户(excel表格)
                form(action='/uploadAddUsers', method='post', enctype='multipart/form-data')
                  .modal-body
                    .input-group.input-group-lg
                      button.btn.btn-default.btn-lg.upload(type='button')
                        input.file(type='file', name='userAddFile')
                  .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal')
                      | 关闭
                    button.btn.btn-primary(type='sbmit')
                      | 添加文件中所有的用户
          // 删除批量用户
          #deleteUsers.modal.fade(aria-hidden='true')
            .modal-dialog
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-hidden='true')
                    | ×
                  h4.modal-title
                    | 删除批量用户(excel表格)
                form(action='/uploadDeleteUsers', method='post', enctype='multipart/form-data')
                  .modal-body
                    .input-group.input-group-lg
                      button.btn.btn-default.btn-lg.upload(type='button')
                        input.file(type='file', name='userDeleteFile')
                  .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal')
                      | 关闭
                    button.btn.btn-primary(type='submit')
                      | 删除该文件中匹配的用户
          // 编辑单位用户
          #editUser.modal.fade(aria-hidden='true')
            .modal-dialog
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-hidden='true')
                    | ×
                  h4.modal-title
                    | 编辑一位用户
                .modal-body
                  form.bs-example.bs-example-form(role='form')
                    .input-group.input-group-lg
                      span.input-group-addon
                        i.fa.fa-user
                      input.form-control(type='text', name='username', placeholder='用户名', disabled='disable', ng-model='editUser.username', valid)
                    .input-group.input-group-lg
                      span.input-group-addon
                        i.fa.fa-user &nbsp;
                      input.form-control(type='text', name='truename', placeholder='姓名', ng-model='editUser.truename', valid)
                    .input-group.input-group-lg
                      span.input-group-addon
                        i.fa.fa-envelope
                      input.form-control(type='text', name='email', placeholder='邮箱', ng-model='editUser.email', valid)
                    .input-group.input-group-lg
                      span.input-group-addon
                        i.fa.fa-lock(title='权限') &nbsp;
                      select.form-control(name='limit', ng-model='editUser.limit', valid)
                        option 老师
                        option 老师助理
                        option 学生
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal')
                    | 关闭
                  button.btn.btn-primary(type='button', edit-user='')
                    | 更改该用户信息
                  .alert.alert-danger.error(role='alert')
          // 编辑单位用户密码
          #editPassword.modal.fade(aria-hidden='true')
            .modal-dialog
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-hidden='true')
                    | ×
                  h4.modal-title
                    | 编辑一位用户密码
                .modal-body
                  form.bs-example.bs-example-form(role='form')
                    .input-group.input-group-lg
                      span.input-group-addon
                        i.fa.fa-user
                      input.form-control(type='text', name='username', placeholder='用户名', disabled='disable', ng-model='editUser.username', valid)
                    .input-group.input-group-lg
                      span.input-group-addon
                        i.fa.fa-key
                      input.form-control(type='password', name='password', placeholder='密码', ng-model='editUser.password', valid)
                    .input-group.input-group-lg
                      span.input-group-addon
                        i.fa.fa-key
                      input.form-control(type='password', name='rePassword', placeholder='重复密码', ng-model='editUser.rePassword', valid)
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal')
                    | 关闭
                  button.btn.btn-primary(type='button', edit-user-password='')
                    | 更改该用户密码
                  .alert.alert-danger.error(role='alert')
