doctype html
html
  head
    meta(charset='UTF-8')
    title ta
    base(href='/')
    link(href='./libs/bootstrap-3.3.6-dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='./css/fontawesome/css/font-awesome.min.css', rel='stylesheet')
    link(href='./css/ta.css', rel='stylesheet')
    script(src='./libs/jquery.js')
    script(src='./libs/highcharts.js')
    script(src='./js/validator.js')
    script(src='./libs/bootstrap-3.3.6-dist/js/bootstrap.min.js')
    script(src='./js/angular/angular.js')
    script(src='./js/ta.js')
  body
    nav#nav.navbar.navbar-default(role='navigation')
      .navbar-header.nav-info
        a#project.navbar-brand(href='/') My Achievement
      .container-fluid
        ul.nav.navbar-nav.navbar-right
          li
            a#classname
          li
            a#taname(ng-data-taname=user.username) 
          li.dropdown
            a.dropdown-toggle#taTruename(data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            ul.dropdown-menu
              li
                a.change-password(data-toggle='modal', data-target='#editPassword') 修改密码
              li.divider(role='separator')
              li
                a.logout(href='/logout') 退出登陆
    div
      .container-fluid(ng-app='taApp')
        p#loading loading...
        div(ng-view='ng-view')
        // 蒙版
        div(ng-controller='mainTaCtrl')
          // 编辑用户密码
          #editPassword.modal.fade(aria-hidden='true')
            .modal-dialog
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-hidden='true')
                    | ×
                  h4.modal-title
                    | 编辑用户密码
                .modal-body
                  form.bs-example.bs-example-form(role='form')
                    .input-group.input-group-lg
                      span.input-group-addon
                        i.fa.fa-user
                      input.form-control(type='text', name='username', placeholder='用户名', disabled='disable', ng-model='editUser.username', valid='')
                    .input-group.input-group-lg
                      span.input-group-addon
                        i.fa.fa-key
                      input.form-control(type='password', name='oldPassword', placeholder='旧密码', ng-model='editUser.oldPassword', valid='')
                    .input-group.input-group-lg
                      span.input-group-addon
                        i.fa.fa-key
                      input.form-control(type='password', name='password', placeholder='新密码', ng-model='editUser.password', valid='')
                    .input-group.input-group-lg
                      span.input-group-addon
                        i.fa.fa-key
                      input.form-control(type='password', name='rePassword', placeholder='重复新密码', ng-model='editUser.rePassword', valid='')
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal')
                    | 关闭
                  button.btn.btn-primary(type='button', edit-user-password='')
                    | 更改密码
                  .alert.alert-danger.error(role='alert')