#project {
  padding-left: 55px;
  font-size: 30px;
}

.btn {
  margin-right: 5px;
}

#logout {
  font-size: 25px;
  padding-right: 55px;
}

.modal-title {
  text-align: center;
}

.asign-right {
  text-align: center;
  margin-bottom: 15px;
  width: 100%;
}

.asign-right .btn {
  min-width: 24.25%;
} 

.input-group {
  margin: 6px;
}

.upload {
  padding: 0;
}

.file {
  padding: 10px;
  min-width: 550px;
}

.modal-body {
  overflow: hidden;
}

.error {
  margin: 10px 0 0 0;
  text-align: center;
  padding: 8px;
}

/*#picker {
  padding: 0;
  border: 0;
}*/
