.row-fluid
  .span12
    .panel.panel-default
      .panel-heading
        button#reflesh.btn.btn-default.btn-lg.btn-block(type='button', reflesh-class)
          strong
            i.fa.fa-refresh
            | 班级列表
      .panel-body
        button.btn.btn-defalut.btn-large.btn-success.edit-class(type='button', data-toggle='modal', data-target='#addClass', remove-classname='')
          h5 添加单位班级
        button.btn.btn-large.btn-defalut.btn-danger.edit-class(type='button', data-toggle='modal', data-target='#deleteClass', remove-classname='')
          h5 删除单位班级
        input.form-control(type='text', ng-model='search', placeholder='搜索')
    .allclass
      .col-md-6.text-center(ng-repeat='class in classes| filter:search')
        .panel.panel-primary
          .panel-heading
            h3.panel-title(ng-data-classname='{{class.classname}}')
              | {{class.classname}}
              span.badge.pull-right 管理员:{{class.adminname}}
          .panel-body.classbody
            table.table
              thead
                tr
                  th
                    h4
                      strong 班级助理
                  th
                    h4
                      strong 班级学生
                  th
                    h4
                      strong 设置小组
              tbody
                tr
                  td
                    button.btn.btn-info.btn-block(type='button', get-classname, see-ta) 查看班级助理
                  td
                    button.btn.btn-info.btn-block(type='button', get-classname, see-student) 查看班级学生
                  td
                    button.btn.btn-info.btn-block(type='button', get-classname, edit-group) 设置班级小组
          .panel-footer
            button.btn.btn-success.classfooter(type='button', edit-homework) 编辑班级作业
            button.btn.btn-danger.classfooter(type='button', data-toggle='modal', data-target='#deleteClass', get-classname) 删除该班级

//蒙版
div
  // 添加单位班级
  #addClass.modal.fade(aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true')
            | ×
          h4.modal-title
            | 添加单位班级
        .modal-body
          form.bs-example.bs-example-form(role='form')
            .input-group.input-group-lg
              span.input-group-addon
                i.fa.fa-user
              input.form-control(type='text', name='adminname', ng-model='class.adminname', disabled='disable', valid)
            .input-group.input-group-lg
              span.input-group-addon
                i.fa.fa-home
              input.form-control(type='text', name='classname', placeholder='班级号', ng-model='class.classname', valid)
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal')
            | 关闭
          button.btn.btn-primary(type='button', add-class)
            | 添加班级
          .alert.alert-danger.error(role='alert')
  // 删除单位班级
  #deleteClass.modal.fade(aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true')
              | ×
            h4.modal-title
              | 删除单位班级
          .modal-body
            form.bs-example.bs-example-form(role='form')
              .input-group.input-group-lg
                span.input-group-addon
                  i.fa.fa-user
                input.form-control(type='text', name='adminname', disabled='disable', ng-model='class.adminname', valid)
              .input-group.input-group-lg
                span.input-group-addon
                  i.fa.fa-home
                input.form-control(type='text', name='classname', placeholder='班级号', ng-model='class.classname', valid)
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal')
              | 关闭
            button.btn.btn-primary(type='button', delete-class)
              | 删除班级
            .alert.alert-danger.error(role='alert')
