.row-fluid
  .span12
    .panel.panel-default
      .panel-heading
        .container-fluid
          .row-fluid
            .col-xs-6.span6
              button.btn.btn-success.btn-lg.btn-block(type='button', data-toggle='modal', data-target='#addStudent', remove-studentname) 添加新学生
            .col-xs-6.span6
              button.btn.btn-success.btn-lg.btn-block.disabled(type='button', data-toggle='modal', title="尚未完成该功能") 添加新学生(通过excel表格)
                 //- data-target='#addStudents',
      .panel-body
        .container-fluid
          .row-fluid
            .col-xs-3.span3
              button#reflesh.btn.btn-default.btn-block(type='button', reflesh-students)
                strong
                  i.fa.fa-refresh
                  |&nbsp;( {{student.classname}} )&nbsp;班级学生列表
            .col-xs-9.span9
              input.form-control(type='text', ng-model='search', placeholder='搜索')
      table.table.table-bordered.table-striped
        thead
          tr
            th
              h4
                strong 序号
            th
              h4
                strong 用户名
            th
              h4
                strong 姓名
            th
              h4
                strong 邮箱
            th
              h4
                strong 所在班别
            th
              h4
                strong 所在组别
            th
              h4
                strong 处理
        tbody
          tr(ng-repeat='Student in Students| filter:search')
            td {{$index + 1}}
            td {{Student.username}}
            td 
              button.btn.btn-link(type='button', see-student-truename) 查看真实姓名
            td 
              button.btn.btn-link(type='button', see-student-email) 查看邮箱
            td {{student.classname}}
            td {{Student.stuGroup}}
            td
              button.btn.btn-warning(type='button', data-toggle='modal', data-target='#editStudent', get-studentname='') 更改组别
              button.btn.btn-danger(type='button', data-toggle='modal', data-target='#deleteStudent', get-studentname='') 删除该学生
//蒙版
div         
  #addStudent.modal.fade(aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true')
            | ×
          h4.modal-title
            | 给班级({{student.classname}})添加一位学生
        .modal-body
          form.bs-example.bs-example-form(role='form')
            .input-group.input-group-lg
              span.input-group-addon
                i.fa.fa-home &nbsp;
              input.form-control(type='text', name='classname', placeholder='用户名', ng-model='student.classname', disabled, valid)
            .input-group.input-group-lg
              span.input-group-addon
                i.fa.fa-user &nbsp;
              input.form-control(type='text', name='username', placeholder='用户名', ng-model='student.username', valid)
            .input-group.input-group-lg
              span.input-group-addon
                i.fa.fa-users
              input.form-control(type='text', name='stuGroup', placeholder='组别(请输入组别数字)', ng-model='student.stuGroup', valid)
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal')
            | 关闭
          button.btn.btn-primary(type='button', add-student)
            | 添加该学生
          .alert.alert-danger.error(role='alert')

  #editStudent.modal.fade(aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true')
            | ×
          h4.modal-title
            | 编辑该学生组别
        .modal-body
          form.bs-example.bs-example-form(role='form')
            .input-group.input-group-lg
              span.input-group-addon
                i.fa.fa-user &nbsp;
              input.form-control(type='text', name='username', placeholder='用户名', ng-model='student.username', disabled, valid)
            .input-group.input-group-lg
              span.input-group-addon
                i.fa.fa-users
              input.form-control(type='text', name='stuGroup', placeholder='组别(请输入组别数字)', ng-model='student.stuGroup', valid)
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal')
            | 关闭
          button.btn.btn-primary(type='button', edit-student)
            | 更改该学生信息
          .alert.alert-danger.error(role='alert')

  #deleteStudent.modal.fade(aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true')
            | ×
          h4.modal-title
            | 在班级({{student.classname}})中删除该学生
        .modal-body
          form.bs-example.bs-example-form(role='form')
            .input-group.input-group-lg
              span.input-group-addon
                i.fa.fa-user &nbsp;
              input.form-control(type='text', name='username', placeholder='用户名', ng-model='student.username', valid)
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal')
            | 关闭
          button.btn.btn-primary(type='button', delete-student)
            | 删除该学生
          .alert.alert-danger.error(role='alert')

  #addStudents.modal.fade(aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true')
            | ×
          h4.modal-title
            | 批量添加学生到{{student.classname}}(excel表格)
        form(action='/uploadAddStudents/{{student.classname}}', method='post', enctype='multipart/form-data')
          .modal-body
            .input-group.input-group-lg
              span.input-group-addon
                i.fa.fa-home &nbsp;
              input.form-control(type='text', name='classname', placeholder='用户名', ng-model='student.classname', disabled, valid)
            .input-group.input-group-lg
              button.btn.btn-default.btn-lg.upload(type='button')
                input.file(type='file', name='studentAddFile')
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal')
              | 关闭
            button.btn.btn-primary(type='sbmit')
              | 添加文件中所有的用户到该班级
