.row-fluid
  .span12
    .panel.panel-default
      .panel-heading
        button.btn.btn-success.btn-block(type='button', data-toggle='modal', data-target='#addTa', remove-username)
          h5 添加新助理
      .panel-body
        .row-fluid
          .col-xs-3.span3
            button#reflesh.btn.btn-default.btn-block(type='button', reflesh-ta)
              strong
                i.fa.fa-refresh
                |&nbsp;( {{Ta.classname}} )&nbsp;班级助理列表
          .col-xs-9.span9
            input.form-control(type='text', ng-model='search', placeholder='搜索')
      table.table.table-bordered.table-striped
        thead
          tr
            th
              h4
                strong 序号
            th
              h4
                strong 用户名
            th
              h4
                strong 姓名
            th
              h4
                strong 邮箱
            th
              h4
                strong 负责班别
            th
              h4
                strong 处理
        tbody
          tr(ng-repeat='ta in TAs| filter:search')
            td {{$index + 1}}
            td {{ta.username}}
            td
              button.btn.btn-link(type='button', get-username, see-truename) 查看真实姓名
            td
              button.btn.btn-link(type='button', get-username, see-email) 查看邮箱
            td {{Ta.classname}}
            td
              button.btn.btn-danger(type='button', data-toggle='modal', data-target='#deleteTa', get-username='') 删除该助理
//蒙版
div         
  #addTa.modal.fade(aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true')
            | ×
          h4.modal-title
            | 给班级({{Ta.classname}})添加一位老师助理
        .modal-body
          form.bs-example.bs-example-form(role='form')
            .input-group.input-group-lg
              span.input-group-addon
                i.fa.fa-user &nbsp;
              input.form-control(type='text', name='username', placeholder='用户名', ng-model='Ta.username', valid)
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal')
            | 关闭
          button.btn.btn-primary(type='button', add-ta)
            | 添加该老师助理
          .alert.alert-danger.error(role='alert')

  #deleteTa.modal.fade(aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true')
            | ×
          h4.modal-title
            | 删除一位老师助理
        .modal-body
          form.bs-example.bs-example-form(role='form')
            .input-group.input-group-lg
              span.input-group-addon
                i.fa.fa-user &nbsp;
              input.form-control(type='text', disabled, name='username', placeholder='用户名', ng-model='Ta.username', valid)
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal')
            | 关闭
          button.btn.btn-primary(type='button', delete-ta)
            | 删除该老师助理
          .alert.alert-danger.error(role='alert')