.row-fluid
  .span12
    .panel.panel-default
      .panel-heading
        button#reflesh.btn.btn-success.btn-lg.btn-block(type='button', reflesh-users='')
          strong
            i.fa.fa-refresh
            |&nbsp;( {{classname}} )&nbsp;班级助理列表
      .panel-body
        input.form-control(type='text', ng-model='search', placeholder='搜索')
        br
        button.btn.btn-info.btn-lg.btn-block(type='button', data-toggle='modal', data-target='#addTa') 添加新助理
      table.table.table-bordered.table-striped
        thead
          tr
            th
              h4
                strong 序号
            th
              h4
                strong 用户名
            th
              h4
                strong 姓名
            th
              h4
                strong 负责班别
            th
              h4
                strong 负责组别
            th
              h4
                strong 处理
        tbody
          tr(ng-repeat='user in users| filter:search')
            td {{$index + 1}}
            td {{user.username}}
            td {{user.truename}}
            td {{user.email}}
            td {{user.limit}}
            td
              button.btn.btn-warning(type='button', data-toggle='modal', data-target='#editTa', get-username='') 更改组别
              button.btn.btn-danger(type='button', data-toggle='modal', data-target='#deleteTa', get-username='') 删除该助理
//蒙版
div         
  #addTa.modal.fade(aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true')
            | ×
          h4.modal-title
            | 给班级({{classname}})添加一位老师助理
        .modal-body
          form.bs-example.bs-example-form(role='form')
            .input-group.input-group-lg
              span.input-group-addon
                i.fa.fa-user &nbsp;
              input.form-control(type='text', name='username', placeholder='用户名', ng-model='user.username', valid)
            .input-group.input-group-lg
              span.input-group-addon
                i.fa.fa-users
              input.form-control(type='text', name='truename', placeholder='负责组别（多组别请以英文逗号分隔）', ng-model='user.group', valid)
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal')
            | 关闭
          button.btn.btn-primary(type='button', add-user='')
            | 添加该老师助理
          .alert.alert-danger.error(role='alert')

  #editTa.modal.fade(aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true')
            | ×
          h4.modal-title
            | 编辑一位老师助理
        .modal-body
          form.bs-example.bs-example-form(role='form')
            .input-group.input-group-lg
              span.input-group-addon
                i.fa.fa-user &nbsp;
              input.form-control(type='text', disabled, name='username', placeholder='用户名', ng-model='user.username', valid)
            .input-group.input-group-lg
              span.input-group-addon
                i.fa.fa-users
              input.form-control(type='text', name='truename', placeholder='负责组别（多组别请以英文逗号分隔）', ng-model='user.group', valid)
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal')
            | 关闭
          button.btn.btn-primary(type='button', add-user='')
            | 更改该老师助理信息
          .alert.alert-danger.error(role='alert')

  #deleteTa.modal.fade(aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true')
            | ×
          h4.modal-title
            | 删除一位老师助理
        .modal-body
          form.bs-example.bs-example-form(role='form')
            .input-group.input-group-lg
              span.input-group-addon
                i.fa.fa-user &nbsp;
              input.form-control(type='text', disabled, name='username', placeholder='用户名', ng-model='user.username', valid)
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal')
            | 关闭
          button.btn.btn-primary(type='button', add-user='')
            | 删除该老师助理
          .alert.alert-danger.error(role='alert')