.container-fluid
  .row-fluid
    .col-md-4.text-center(ng-repeat='Homework in homeworks')
      .panel.panel-primary(class='panel-{{Homework.state}}')
        .panel-heading
          h3.panel-title(ng-data-homeworkname='{{Homework.homeworkname}}')
            | 作业{{$index + 1}}：{{Homework.homeworkname}}
            span.label.pull-right(class='label-{{Homework.look}}') {{Homework.state}}
            span.badge.pull-right 
              a(href='{{Homework.link}}') 作业链接
        .panel-body.homework-img-body
          img.homework-img(src='/images/homework.png', alt='')
        .panel-footer
          button.btn.btn-success.classfooter(type='button', class='{{Homework.enComment}}', homework-comment) 评审作业
          button.btn.btn-info.classfooter(type='button', class='{{Homework.enDistribute}}', group-distribute) 分配组别
